* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #171616;
  background: #ffe4b3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 20px;
  border-radius: 8px;
  background: #ff789f;
}

h1 {
  font-size: 4rem;
}

.numero {
  display: none;
  flex-direction: column;
  margin: 5px 0;
  align-items: center;
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 1s;
}

span {
  font-size: 3.5rem;
  padding: 10px;
}

button {
  font-size: 1.6rem;
  padding: 5px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: #171615;
  background: #ffe4b3;
  transition: 0.4s;
}

button:hover {
  background: #eebc5e;
}
